html {
  background-color: whitesmoke !important;
}

hr {
  height: 1px !important;
  background-color: lightgray !important;
}

.column {
  height: min-content;
  background-color: white;
  margin: 1rem;
}

.is-centered {
  display: flex;
  align-items: center;
}

.border {
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}
